#wrapper {
              clear: both;
              background-color: #fff;
              width: 100%;
              height: 450px;
              overflow: hidden;
              position: relative;
          }
          #carousel img {
              display: block;
              float: left;
          }
          #prev, #next {
              background-color: rgba(255, 255, 255, 0.7);
              display: block;
              height: 450px;
              width: 50%;
              top: 0;
              position: absolute;
          }
          #prev:hover, #next:hover {
              background-color: #fff;
              background-color: rgba(255, 255, 255, 0.8);
          }
          #prev {
              left: -250px;
          }
          #next {
              right: -250px;
          }
          #pager {
              margin-left: 0px;
              position: absolute;
              top: 158px;
              left: 80px;
              bottom: 10px;
          }
          #pager a {
              border: 2px solid #fff;
              border-radius: 10px;
              display: inline-block;
              width: 10px;
              height: 10px;
              margin: 0 5px 0 0;
          }
          #pager a:hover {
              background-color: rgba(255, 255, 255, 0.5);
          }
          #pager a span {
              display: none;
          }
          #pager a.selected {
              background-color: #fff;
          }
          
          #donate-spacer {
              height: 100%;
          }
          #donate {
              border-top: 1px solid #999;
              width: 750px;
              padding: 50px 75px;
              margin: 0 auto;
              overflow: hidden;
          }
          #donate p, #donate form {
              margin: 0;
              float: left;
          }
          #donate p {
              width: 650px;
          }
          #donate form {
              width: 100px;
          }