/* @generated */.sw_btn {
	width:50px;
	_height:21px;
	line-height:21px;
	font-size:12px;
	color:#888;
	background-position:0 -126px;
	margin-left:3px
}
.fl {
	float:left
}
.fr {
	float:right
}
.gui-block-reco .t_txt {
	margin:0 auto 10px;
	width:375px;
	height:70px;
	font-size:14px;
	color:#666;
	line-height:20px;
	padding:4px 5px;
	background-color:white;
	border:#DDD 1px solid;
	-webkit-box-shadow:0 2px 0 whiteSmoke inset;
	-moz-box-shadow:0 2px 0 #f5f5f5 inset;
	box-shadow:0 2px 0 whiteSmoke inset;
-webkit-transition:border linear .2s, box-shadow linear .2s;
-moz-transition:border linear .2s, box-shadow linear .2s;
transition:border linear .2s, box-shadow linear .2s
}
.gui-block-reco .recoShareBox {
	font-size:12px;
	margin-top:10px
}
.gui-block-reco .recoShareBox input {
	vertical-align:middle;
	margin-right:3px
}
.gui-block-reco .fr .gbtn {
	margin-right:5px
}
.gui-block {
	position:fixed;
	_position:absolute;
	z-index:999;
	display:none;
	padding:8px;
	width:432px;
	background-color:#f0f0f0
}
.gui-block-b {
	border:1px solid #afafaf
}
.gui-block-hd {
*zoom:1;
	overflow:hidden;
	background-color:#ebf2f7;
	border-bottom:1px solid #d9d9d9
}
.gui-block-hd span {
	_display:inline;
	float:left;
	margin-left:20px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	font-size:14px;
	color:#000
}
.gui-block-close {
	_display:inline;
	float:right;
	margin:12px 10px 0 0;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(/skin/imgs/small.gif?v2.8) no-repeat -16px -560px
}
.gui-block-close:hover {
	background-position:0 -560px
}
.gui-block-bd {
	padding:20px;
	_zoom:1;
	overflow:hidden;
	font-size:14px;
	word-wrap:break-word;
	background-color:#FFF;
	border-top:0
}
.uploader ul {
	margin:1em 0;
	overflow:hidden;
	text-align:left;
*zoom:1
}
.uploader ul li {
	float:left;
	margin:0 1em .2em 0;
	color:#333
}
.uploader .gui-multiple-error .fileStatsSummary {
	color:red
}
.uploader .gui-multiple-timeout .fileStatsSummary {
	color:red
}
.uploader .gui-multiple-success .fileStatsSummary {
	color:green
}
.uploader .gui-multiple-drag-area {
	margin:1em .5em;
	padding:1em;
	color:#c09853;
	background-color:#fcf8e3;
	border:1px solid #fbeed5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5)
}
.uploader .gui-multiple-drag-area.gui-multiple-dragenter {
	color:#3a87ad;
	background-color:#d9edf7;
	border-color:#bce8f1
}
.edui-box {
	border:0;
	padding:0;
	margin:0;
	overflow:hidden
}
a.edui-box {
	display:block;
	text-decoration:none;
	color:black
}
a.edui-box:hover {
	text-decoration:none
}
a.edui-box:active {
	text-decoration:none
}
table.edui-box {
	border-collapse:collapse
}
ul.edui-box {
	list-style-type:none
}
div.edui-box {
	position:relative;
	display:-moz-inline-box!important;
	display:inline-block!important;
	vertical-align:top
}
.edui-clearfix {
	zoom:1
}
.edui-clearfix:after {
	content:'\20';
	display:block;
	clear:both
}
* html div.edui-box {
	display:inline!important
}
*:first-child+html div.edui-box {
	display:inline!important
}
.edui-button-body, .edui-splitbutton-body, .edui-menubutton-body, .edui-combox-body {
	position:relative
}
.edui-popup {
	position:absolute;
	-webkit-user-select:none;
	-moz-user-select:none
}
.edui-popup .edui-shadow {
	position:absolute;
	z-index:-1
}
.edui-popup .edui-bordereraser {
	position:absolute;
	overflow:hidden
}
.edui-tablepicker .edui-canvas {
	position:relative
}
.edui-tablepicker .edui-canvas .edui-overlay {
	position:absolute
}
.edui-dialog-modalmask, .edui-dialog-dragmask {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%
}
.edui-toolbar {
	position:relative
}
.edui-label {
	cursor:default
}
span.edui-clickable {
	color:blue;
	cursor:pointer;
	text-decoration:underline
}
span.edui-unclickable {
	color:gray;
	cursor:default
}
.edui-popup {
	z-index:3000
}
.edui-popup .edui-shadow {
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	box-shadow:3px 3px 5px #818181;
	-webkit-box-shadow:3px 3px 5px #818181;
	-moz-box-shadow:3px 3px 5px #818181;
	-ms-filter:'progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.5')';
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.5')
}
.edui-popup-content {
	border:1px solid gray;
	background-color:white;
	padding:5px
}
.edui-popup .edui-bordereraser {
	background-color:white;
	height:3px
}
.edui-menu .edui-bordereraser {
	background-color:#f1f1f1;
	height:3px
}
.edui-anchor-topleft .edui-bordereraser {
	left:1px;
	top:-2px
}
.edui-anchor-topright .edui-bordereraser {
	right:1px;
	top:-2px
}
.edui-anchor-bottomleft .edui-bordereraser {
	left:0;
	bottom:-6px;
	height:7px;
	border-left:1px solid gray;
	border-right:1px solid gray
}
.edui-anchor-bottomright .edui-bordereraser {
	right:0;
	bottom:-6px;
	height:7px;
	border-left:1px solid gray;
	border-right:1px solid gray
}
.edui-menu {
	z-index:3000
}
.edui-menu .edui-popup-content {
	background-color:white;
	padding:3px
}
.edui-menu-body {
	_width:150px;
	min-width:150px;
	background:url("/skin/imgs/UEditor/menu/sparator_v.png") repeat-y 25px
}
.edui-menuitem {
	height:20px;
	cursor:default;
	vertical-align:top
}
.edui-menuitem .edui-icon {
	width:25px!important;
	height:25px!important;
	background:url(/skin/imgs/UEditor/icons.png) 0 -40px
}
.edui-menuitem .edui-label {
	font-size:12px;
	line-height:20px;
	height:20px;
	padding-left:10px;
	padding-right:20px
}
.edui-state-checked .edui-menuitem-body {
	background:url("/skin/imgs/UEditor/icons-all.gif") no-repeat 6px -205px
}
.edui-state-disabled .edui-menuitem-label {
	color:gray
}
.edui-state-disabled .edui-icon {
	opacity:.3;
	-ms-filter:'alpha(opacity=30)';
	filter:alpha(opacity=30)
}
.edui-state-disabled .edui-label {
	color:gray
}
.edui-hassubmenu .edui-arrow {
	height:20px;
	width:20px;
	float:right;
	background:url("/skin/imgs/UEditor/icons-all.gif") no-repeat 10px -233px
}
.edui-menu-body .edui-menuitem {
	padding:1px
}
.edui-menuseparator {
	margin:2px 0;
	height:1px;
	overflow:hidden
}
.edui-menuseparator-inner {
	border-bottom:1px solid #e2e3e3;
	margin-left:29px;
	margin-right:1px
}
.edui-menu-body .edui-state-hover {
	padding:0!important;
	background-color:#fff5d4;
	border:1px solid #dcac6c
}
.edui-dialog {
	z-index:2000;
	position:absolute
}
.edui-dialog-wrap {
	margin-right:6px;
	margin-bottom:6px;
	border:1px solid #c6c6c6
}
.edui-dialog-body {
	position:relative;
	background-color:white;
	_zoom:1
}
.edui-dialog-shadow {
	position:absolute;
	z-index:-1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:black;
	box-shadow:3px 3px 5px #818181;
	-webkit-box-shadow:3px 3px 5px #818181;
	-moz-box-shadow:3px 3px 5px #818181;
	-ms-filter:'progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.5')';
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.5')
}
.edui-dialog-foot {
	background-color:white
}
.edui-dialog-titlebar {
	height:26px;
	border-bottom:1px solid #c6c6c6;
	background:url(/skin/imgs/UEditor/dialog-title-bg.png) repeat-x bottom;
	position:relative;
	cursor:move
}
.edui-dialog-caption {
	font-weight:bold;
	font-size:12px;
	line-height:26px;
	padding-left:5px
}
.edui-dialog-draghandle {
	height:26px
}
.edui-dialog-closebutton {
	position:absolute!important;
	right:5px;
	top:3px
}
.edui-dialog-closebutton .edui-button-body {
	height:20px;
	width:20px;
	cursor:pointer;
	background:url("/skin/imgs/UEditor/icons-all.gif") no-repeat 0 -59px
}
.edui-dialog-closebutton .edui-state-hover .edui-button-body {
	background:url("/skin/imgs/UEditor/icons-all.gif") no-repeat 0 -89px
}
.edui-dialog-foot {
	height:40px
}
.edui-dialog-buttons {
	position:absolute;
	right:0
}
.edui-dialog-buttons .edui-button {
	margin-right:10px
}
.edui-dialog-buttons .edui-button .edui-button-body {
	background:url("/skin/imgs/UEditor/icons-all.gif") no-repeat;
	height:24px;
	width:96px;
	font-size:12px;
	line-height:24px;
	text-align:center;
	cursor:default
}
.edui-dialog-buttons .edui-button .edui-state-hover .edui-button-body {
	background:url("/skin/imgs/UEditor/icons-all.gif") no-repeat 0 -30px
}
.edui-dialog iframe {
	border:0;
	padding:0;
	margin:0;
	vertical-align:top
}
.edui-dialog-modalmask {
	opacity:.3;
	filter:alpha(opacity=30);
	background-color:#ccc;
	position:absolute
}
.edui-dialog-dragmask {
	position:absolute;
	background-color:transparent;
	cursor:move
}
.edui-dialog-content {
	position:relative
}
.dialogcontmask {
	cursor:move;
	visibility:hidden;
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	filter:alpha(opacity=0)
}
.edui-colorpicker-topbar {
	height:27px;
	width:200px
}
.edui-colorpicker-preview {
	height:20px;
	border:1px inset black;
	margin-left:1px;
	width:128px;
	float:left
}
.edui-colorpicker-nocolor {
	float:right;
	margin-right:1px;
	font-size:12px;
	line-height:14px;
	height:14px;
	border:1px solid #333;
	padding:3px 5px;
	cursor:pointer
}
.edui-colorpicker-tablefirstrow {
	height:30px
}
.edui-colorpicker-colorcell {
	width:14px;
	height:14px;
	display:block;
	margin:0;
	cursor:pointer
}
.edui-colorpicker-colorcell:hover {
	width:14px;
	height:14px;
	margin:0
}
.edui-tablepicker .edui-infoarea {
	height:14px;
	line-height:14px;
	font-size:12px;
	width:220px;
	margin-bottom:3px;
	clear:both
}
.edui-tablepicker .edui-infoarea .edui-label {
	float:left
}
.edui-dialog-buttons .edui-label {
	line-height:24px
}
.edui-tablepicker .edui-infoarea .edui-clickable {
	float:right
}
.edui-tablepicker .edui-pickarea {
	background:url("/skin/imgs/UEditor/tablepicker/unhighlighted.gif") repeat;
	height:220px;
	width:220px
}
.edui-tablepicker .edui-pickarea .edui-overlay {
	background:url("/skin/imgs/UEditor/tablepicker/highlighted.gif") repeat
}
.edui-autotypesetpicker .edui-autotypesetpicker-body {
	font-size:12px;
	width:330px;
	margin-bottom:3px;
	clear:both
}
.edui-autotypesetpicker-body td {
	font-size:12px
}
.edui-toolbar {
	cursor:default;
	-webkit-user-select:none;
	-moz-user-select:none;
	padding:1px
}
.edui-toolbar .edui-button, .edui-toolbar .edui-splitbutton, .edui-toolbar .edui-menubutton, .edui-toolbar .edui-combox {
	margin:1px 6px
}
.edui-toolbar .edui-separator {
	width:2px;
	height:20px;
	margin:2px 4px 2px 3px;
	background:url(/skin/imgs/UEditor/icons.png) -180px 0
}
.edui-toolbar .edui-button .edui-icon, .edui-toolbar .edui-menubutton .edui-icon, .edui-toolbar .edui-splitbutton .edui-icon {
	height:25px!important;
	width:25px!important;
	background-image:url(/skin/imgs/UEditor/icons.png)
}
.edui-toolbar .edui-button .edui-button-wrap {
	padding:1px;
	position:relative
}
.edui-toolbar .edui-splitbutton-body .edui-arrow, .edui-toolbar .edui-menubutton-body .edui-arrow {
	background:url(/skin/imgs/UEditor/icons.png) -741px 0;
	_background:url(/skin/imgs/UEditor/icons.gif) -741px 0;
	height:20px;
	width:9px
}
.edui-toolbar .edui-splitbutton .edui-splitbutton-body, .edui-toolbar .edui-menubutton .edui-menubutton-body {
	padding:1px
}
.edui-toolbar .edui-splitborder {
	width:1px;
	height:20px
}
.edui-toolbar .edui-state-hover .edui-splitborder {
	width:1px;
	border-left:0 solid #dcac6c
}
.edui-toolbar .edui-state-active .edui-splitborder {
	width:0;
	border-left:1px solid gray
}
.edui-toolbar .edui-state-opened .edui-splitborder {
	width:1px;
	border:0
}
.edui-toolbar .edui-splitbutton .edui-state-hover .edui-splitbutton-body, .edui-toolbar .edui-menubutton .edui-state-hover .edui-menubutton-body {
	background-color:#fff5d4;
	border:1px solid #dcac6c;
	padding:0
}
.edui-toolbar .edui-splitbutton .edui-state-checked .edui-splitbutton-body, .edui-toolbar .edui-menubutton .edui-state-checked .edui-menubutton-body {
	background-color:#ffe69f;
	border:1px solid #dcac6c;
	padding:0
}
.edui-toolbar .edui-splitbutton .edui-state-active .edui-splitbutton-body, .edui-toolbar .edui-menubutton .edui-state-active .edui-menubutton-body {
	background-color:#fff;
	border:1px solid gray;
	padding:0
}
.edui-state-disabled .edui-arrow {
	opacity:.3;
	-ms-filter:'alpha(opacity=30)';
	_filter:alpha(opacity=30)
}
.edui-toolbar .edui-splitbutton .edui-state-opened .edui-splitbutton-body, .edui-toolbar .edui-menubutton .edui-state-opened .edui-menubutton-body {
	background-color:white;
	border:1px solid gray;
	padding:0
}
.edui-for-insertorderedlist .edui-bordereraser, .edui-for-lineheight .edui-bordereraser, .edui-for-rowspacingtop .edui-bordereraser, .edui-for-rowspacingbottom .edui-bordereraser, .edui-for-insertunorderedlist .edui-bordereraser {
	background-color:white
}
.edui-for-insertorderedlist .edui-popup-body .edui-icon, .edui-for-lineheight .edui-popup-body .edui-icon, .edui-for-rowspacingtop .edui-popup-body .edui-icon, .edui-for-rowspacingbottom .edui-popup-body .edui-icon, .edui-for-insertunorderedlist .edui-popup-body .edui-icon {
	background-position:0 -40px
}
.edui-toolbar .edui-colorbutton .edui-colorlump {
	position:absolute;
	overflow:hidden;
	bottom:1px;
	left:1px;
	width:18px;
	height:4px
}
.edui-toolbar .edui-combox-body .edui-button-body {
	width:60px;
	font-size:12px;
	height:20px;
	line-height:20px;
	padding-left:5px;
	white-space:nowrap
}
.edui-toolbar .edui-combox-body .edui-arrow {
	background:url(/skin/imgs/UEditor/icons.png) -741px 0;
	height:20px;
	width:9px
}
.edui-toolbar .edui-combox .edui-combox-body {
	border:1px solid #CCC;
	background-color:white
}
.edui-toolbar .edui-combox-body .edui-splitborder {
	display:none
}
.edui-toolbar .edui-combox-body .edui-arrow {
	border-left:1px solid #CCC
}
.edui-toolbar .edui-state-hover .edui-combox-body {
	background-color:#fff5d4;
	border:1px solid #dcac6c
}
.edui-toolbar .edui-state-hover .edui-combox-body .edui-arrow {
	border-left:1px solid #dcac6c
}
.edui-toolbar .edui-state-checked .edui-combox-body {
	background-color:#ffe69f;
	border:1px solid #dcac6c
}
.edui-toolbar .edui-state-checked .edui-combox-body .edui-arrow {
	border-left:1px solid #dcac6c
}
.edui-toolbar .edui-state-disabled .edui-combox-body {
	background-color:#f0f0ee;
	opacity:.3;
	-ms-filter:'alpha(opacity=30)';
	filter:alpha(opacity=30)
}
.edui-toolbar .edui-state-opened .edui-combox-body {
	background-color:white;
	border:1px solid gray
}
.edui-list .edui-bordereraser {
	display:none
}
.edui-listitem {
	padding:1px;
	white-space:nowrap
}
.edui-list .edui-state-hover {
	position:relative;
	background-color:#fff5d4;
	border:1px solid #dcac6c;
	padding:0
}
.edui-for-fontfamily .edui-listitem-label {
	min-width:120px;
	_width:120px;
	font-size:12px;
	height:22px;
	line-height:22px;
	padding-left:5px
}
.edui-for-underline .edui-listitem-label {
	min-width:120px;
	_width:120px;
	padding:3px 5px;
	font-size:12px
}
.edui-for-fontsize .edui-listitem-label {
	min-width:120px;
	_width:120px;
	padding:3px 5px
}
.edui-for-paragraph .edui-listitem-label {
	min-width:200px;
	_width:200px;
	padding:2px 5px
}
.edui-for-rowspacingtop .edui-listitem-label, .edui-for-rowspacingbottom .edui-listitem-label {
	min-width:53px;
	_width:53px;
	padding:2px 5px
}
.edui-for-lineheight .edui-listitem-label {
	min-width:53px;
	_width:53px;
	padding:2px 5px
}
.edui-for-customstyle .edui-listitem-label {
	min-width:200px;
	_width:200px;
	width:200px!important;
	padding:2px 5px
}
.edui-for-bold .edui-icon {
	background-position:-25px -50px
}
.edui-for-bold .edui-state-hover .edui-icon {
	background-position:-25px 0
}
.edui-for-bold .edui-state-active .edui-icon, .edui-for-bold .edui-state-checked .edui-icon {
	background-position:-25px -25px
}
.edui-for-italic .edui-icon {
	background-position:-50px -50px
}
.edui-for-italic .edui-state-hover .edui-icon {
	background-position:-50px 0
}
.edui-for-italic .edui-state-active .edui-icon, .edui-for-italic .edui-state-checked .edui-icon {
	background-position:-50px -25px
}
.edui-for-link .edui-icon {
	background-position:-275px -50px
}
.edui-for-link .edui-state-hover .edui-icon {
	background-position:-275px 0
}
.edui-for-link .edui-state-active .edui-icon, .edui-for-link .edui-state-checked .edui-icon {
	background-position:-275px -25px
}
.edui-for-insertimage .edui-icon {
	background-position:-75px -50px
}
.edui-for-insertimage .edui-state-hover .edui-icon {
	background-position:-75px 0
}
.edui-for-insertimage .edui-state-active .edui-icon, .edui-for-insertimage .edui-state-checked .edui-icon {
	background-position:-75px -25px
}
.edui-for-insertvideo .edui-icon {
	background-position:-100px -50px
}
.edui-for-insertvideo .edui-state-hover .edui-icon {
	background-position:-100px 0
}
.edui-for-insertvideo .edui-state-active .edui-icon, .edui-for-insertvideo .edui-state-checked .edui-icon {
	background-position:-100px -25px
}
.edui-for-insertunorderedlist .edui-icon {
	background-position:-175px -50px
}
.edui-for-insertunorderedlist .edui-state-hover .edui-icon {
	background-position:-175px 0
}
.edui-for-insertunorderedlist .edui-state-active .edui-icon, .edui-for-insertunorderedlist .edui-state-checked .edui-icon {
	background-position:-175px -25px
}
.edui-for-insertorderedlist .edui-icon {
	background-position:-200px -50px
}
.edui-for-insertorderedlist .edui-state-hover .edui-icon {
	background-position:-200px 0
}
.edui-for-insertorderedlist .edui-state-active .edui-icon, .edui-for-insertorderedlist .edui-state-checked .edui-icon {
	background-position:-200px -25px
}
.edui-for-insertmathjax .edui-icon {
	background-position:-125px -50px
}
.edui-for-insertmathjax .edui-state-hover .edui-icon {
	background-position:-125px 0
}
.edui-for-insertmathjax .edui-state-active .edui-icon, .edui-for-insertmathjax .edui-state-checked .edui-icon {
	background-position:-125px -25px
}
.edui-for-blockquote .edui-icon {
	background-position:-150px -50px
}
.edui-for-blockquote .edui-state-hover .edui-icon {
	background-position:-150px 0
}
.edui-for-blockquote .edui-state-active .edui-icon, .edui-for-blockquote .edui-state-checked .edui-icon {
	background-position:-150px -25px
}
.edui-for-insertcode .edui-icon {
	background-position:-300px -50px
}
.edui-for-insertcode .edui-state-hover .edui-icon {
	background-position:-300px 0
}
.edui-for-insertcode .edui-state-active .edui-icon, .edui-for-insertcode .edui-state-checked .edui-icon {
	background-position:-300px -25px
}
.edui-for-fullscreen .edui-icon {
	background-position:-225px -50px
}
.edui-for-fullscreen .edui-state-hover .edui-icon {
	background-position:-225px 0
}
.edui-for-fullscreen .edui-state-active .edui-icon {
	background-position:-225px -25px
}
.edui-for-fullscreen .edui-state-hover.edui-state-checked .edui-icon {
	background-position:-250px 0
}
.edui-for-fullscreen .edui-state-active.edui-state-checked .edui-icon {
	background-position:-250px -25px
}
.edui-for-fullscreen .edui-state-checked .edui-icon {
	background-position:-250px -50px
}
.edui-for-link .edui-dialog-content {
	width:420px;
	height:200px;
	overflow:hidden
}
.edui-for-background .edui-dialog-content {
	width:440px;
	height:280px;
	overflow:hidden
}
.edui-for-template .edui-dialog-content {
	width:630px;
	height:390px;
	overflow:hidden
}
.edui-for-emoticon .edui-dialog-content {
	width:515px;
*width:506px;
	height:360px
}
.edui-for-scrawl .edui-dialog-content {
	width:515px;
*width:506px;
	height:360px
}
.edui-for-spechars .edui-dialog-content {
	width:620px;
	height:500px;
*height:570px
}
.edui-for-insertimage .edui-dialog-content {
	width:640px;
	height:390px;
	overflow:hidden
}
.edui-for-webapp .edui-dialog-content {
	width:560px;
	_width:565px;
	height:450px;
	overflow:hidden
}
.edui-for-insertframe .edui-dialog-content {
	width:350px;
	height:200px;
	overflow:hidden
}
.edui-for-wordimage .edui-dialog-content {
	width:620px;
	height:380px;
	overflow:hidden
}
.edui-for-attachment .edui-dialog-content {
	width:480px;
	height:360px;
	overflow:hidden
}
.edui-for-highlightcode .edui-dialog-content {
	width:550px;
	height:360px;
	overflow:hidden
}
.edui-for-map .edui-dialog-content {
	width:550px;
	height:400px
}
.edui-for-gmap .edui-dialog-content {
	width:550px;
	height:400px
}
.edui-for-insertvideo .edui-dialog-content {
	width:590px;
	height:390px
}
.edui-for-anchor .edui-dialog-content {
	width:320px;
	height:60px;
	overflow:hidden
}
.edui-for-searchreplace .edui-dialog-content {
	width:400px;
	height:180px
}
.edui-for-help .edui-dialog-content {
	width:400px;
	height:420px
}
.edui-for-inserttable .edui-dialog-content {
	width:510px;
	height:275px
}
.edui-for-edittd .edui-dialog-content {
	width:220px;
	height:125px
}
.edui-for-snapscreen .edui-dialog-content {
	width:400px;
	height:220px
}
.edui-editor-toolbarmsg-upload {
	font-size:14px;
	color:blue;
	width:100px;
	height:16px;
	line-height:16px;
	cursor:pointer;
	position:absolute;
	top:5px;
	left:350px
}
.edui-for-paragraph .edui-listitem-label {
	font-family:Tahoma, Verdana, Arial, Helvetica
}
.edui-for-paragraph .edui-listitem-label .edui-for-p {
	font-size:22px;
	line-height:27px
}
.edui-for-paragraph .edui-listitem-label .edui-for-h1 {
	font-weight:bolder;
	font-size:32px;
	line-height:36px
}
.edui-for-paragraph .edui-listitem-label .edui-for-h2 {
	font-weight:bolder;
	font-size:27px;
	line-height:29px
}
.edui-for-paragraph .edui-listitem-label .edui-for-h3 {
	font-weight:bolder;
	font-size:19px;
	line-height:23px
}
.edui-for-paragraph .edui-listitem-label .edui-for-h4 {
	font-weight:bolder;
	font-size:16px;
	line-height:19px
}
.edui-for-paragraph .edui-listitem-label .edui-for-h5 {
	font-weight:bolder;
	font-size:13px;
	line-height:16px
}
.edui-for-paragraph .edui-listitem-label .edui-for-h6 {
	font-weight:bolder;
	font-size:12px;
	line-height:14px
}
.edui-editor {
	border:1px solid #d9d9d9;
	position:relative;
	overflow:visible
}
.edui-editor-toolbarbox {
	position:relative;
	line-height:1.5;
	zoom:1
}
.edui-editor-toolbarboxouter {
	border-bottom:1px solid #d9d9d9;
	background-color:#f4f4f4
}
.edui-editor-toolbarboxinner {
	padding:2px
}
.edui-editor-iframeholder {
	position:relative
}
.edui-editor-iframeholder textarea {
	font-family:consolas, "Courier New", "lucida console", monospace;
	font-size:12px;
	line-height:18px
}
.edui-editor-bottomContainer {
	display:none
}
.edui-toolbar .edui-for-fullscreen {
	float:right
}
.edui-bubble .edui-popup-content {
	border:1px solid #dcac6c;
	background-color:#fff6d9;
	padding:5px;
	font-size:10pt;
	font-family:"宋体"
}
.edui-bubble .edui-shadow {
	box-shadow:1px 1px 3px #818181;
	-webkit-box-shadow:2px 2px 3px #818181;
	-moz-box-shadow:2px 2px 3px #818181;
	-ms-filter:'progid:DXImageTransform.Microsoft.Blur(PixelRadius='2', MakeShadow='true', ShadowOpacity='0.5')';
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2', MakeShadow='true', ShadowOpacity='0.5')
}
.edui-editor-toolbarmsg {
	background-color:#fff6d9;
	border-bottom:1px solid #ccc;
	position:absolute;
	bottom:-25px;
	left:0;
	z-index:1009;
	width:99.9%
}
.edui-editor-toolbarmsg-label {
	font-size:12px;
	line-height:16px;
	padding:4px
}
.edui-editor-toolbarmsg-close {
	float:right;
	width:20px;
	height:16px;
	line-height:16px;
	cursor:pointer;
	color:red
}
.edui-for-emotion .edui-icon {
	background-position:-60px -20px
}
.edui-for-emotion .edui-popup-content {
	position:relative;
	z-index:555
}
.edui-for-emotion .edui-popup-content iframe {
	width:514px;
	height:380px;
	overflow:hidden
}
.edui-for-emotion .edui-splitborder {
	display:none
}
.edui-for-emotion .edui-splitbutton-body .edui-arrow {
	width:0
}
.gui-menu-focus {
	display:block;
	margin-top:-1px;
	width:100%;
	height:1px;
	font-size:0;
	line-height:0;
	outline:0
}
.gui-menu-focus:focus {
	outline:0
}
.gui-menu-list {
	padding-bottom:2px 8px 10px;
	color:#069;
	border:1px solid #c5c5c5;
	background-color:#FFF;
	-webkit-box-shadow:1px 1px 2px #CCC;
	-moz-box-shadow:1px 1px 2px #CCC;
	-o-box-shadow:1px 1px 2px #CCC;
	box-shadow:1px 1px 2px #CCC;
*zoom:1
}
.gui-menu-list li {
	padding:2px 10px;
	height:22px;
	line-height:22px
}
.gui-menu-list li a {
	text-decoration:none
}
.gui-menu-list li a:hover {
	text-decoration:none
}
.gui-menu-list .selected {
	text-decoration:none;
	color:#FFF;
	background-color:#29a2cf
}
.gui-menu-list .selected a {
	color:#FFF
}
.gui-autocomplete-menu li {
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	cursor:pointer
}
.gui-at {
	position:absolute;
	width:280px;
	background-color:#FFF;
	z-index:1000;
	margin-left:2px
}
.gui-at input, .gui-at p {
	width:270px
}
.gui-at p {
	margin-top:-1px;
	padding:0 5px;
	height:30px;
	line-height:30px;
	color:#BBB;
	border:1px solid #c5c5c5;
	-webkit-box-shadow:1px 1px 2px #CCC;
	-moz-box-shadow:1px 1px 2px #CCC;
	-o-box-shadow:1px 1px 2px #CCC;
	box-shadow:1px 1px 2px #CCC
}
.gui-at-none {
	background-color:#f5f5f5
}
.gui-at .gui-menu {
	margin-top:-1px
}
.gui-block-tab {
	margin:-20px -20px 0 -20px;
	height:40px;
	overflow:hidden;
	background-color:#f3f3f3
}
.gui-block-tab li {
	float:left;
	margin:8px 10px 0 10px;
	width:66px;
	height:32px;
	line-height:32px;
	text-align:center
}
.gui-block-tab .current {
	background-color:#FFF;
	border:1px solid #CCC
}
.gui-block-tab a {
	color:#888
}
.gui-block-tab .current a {
	font-weight:bold;
	color:#616161
}
.gui-block-error {
	color:red
}
.gui-block-bd .uploader {
	margin-top:20px
}
.gui-block-bd-hd {
	margin:20px 0 10px
}
.gui-block-bd-hd-title {
	color:#333
}
.gui-block-bd-hd-desc {
	font-size:12px;
	color:#888
}
.gui-block-bd-intro {
	margin-bottom:10px;
	color:#666
}
.gui-block-bd .b_txt {
	width:300px
}
.gui-block-bd-do {
	margin-top:20px
}
.gui-block-bd-do .mw_btn {
	margin-right:20px;
	font-weight:bold;
	color:#888
}
.gui-block-bd-do a {
	color:#bbb;
	margin-right:20px
}
.gui-block-bd-do .gbtn-primary {
	color:#FFF
}
.gui-block-uploader p {
	margin-top:4px;
	font-size:12px
}
.gui-block-uploader p img {
	float:left;
	margin-right:6px
}
.gui-block-uploader-hide {
	position:absolute;
	width:382px;
	height:28px;
	line-height:28px;
	opacity:0;
	-ms-filter:"alpha(opacity=0)";
*filter:alpha(opacity=0);
	vertical-align:middle;
	cursor:pointer;
	font-size:18px;
	background:0;
	border:0
}
.gui-block-uploader .b_txt {
	width:300px
}
.gui-block-uploader .sw_btn {
	margin-left:20px
}
.gui-ubb-b {
	border:1px solid #d3d3d3
}
.gui-ubb-gap {
	position:relative;
	_zoom:1;
	padding:5px;
	overflow:hidden
}
.gui-ubb-pre, .gui-ubb-b .gui-ubb-gap textarea, .gui-ubb-editor {
	display:block;
	padding:0;
	margin:0;
	width:100%;
	line-height:1.5;
	font-size:14px;
	word-wrap:break-word;
	outline:0;
	resize:none;
	overflow:auto;
	background-color:#FFF;
	border:0
}
.gui-ubb-pre {
	-ms-filter:"alpha(opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
	position:absolute;
	top:5px;
	left:5px;
	z-index:-1000;
	position:absolute;
	white-space:pre-wrap
}
.gui-ubb-pre span {
	white-space:pre-wrap
}
.gui-ubb-editor {
	display:none;
	white-space:pre-wrap;
	color:#000;
	background-color:transparent
}
.gui-ubb-links {
	margin-bottom:-1px;
	overflow:hidden;
	_height:26px;
	padding:5px 0;
	background-color:#f5f5f5;
	border:1px solid #d3d3d3
}
.gui-ubb-bold, .gui-ubb-italic, .gui-ubb-link, .gui-ubb-image, .gui-ubb-video, .gui-ubb-ref, .gui-ubb-at, .gui-ubb-ul, .gui-ubb-ol {
	_display:inline;
	float:left;
	margin-right:-1px;
	width:27px;
	height:27px;
	text-indent:-9999px;
	outline:0;
	background:url(/skin/imgs/small.gif?v2.8) no-repeat 0 -610px
}
.gui-ubb-toggle {
	_display:inline;
	float:right;
	margin-right:5px;
	line-height:26px;
	color:#bbb
}
.gui-ubb-toggle a {
	color:#bbb
}
.gui-ubb-bold {
	margin-left:5px
}
.gui-ubb-italic {
	background-position:-26px -610px
}
.gui-ubb-link {
	background-position:-52px -610px
}
.gui-ubb-image {
	background-position:-78px -610px
}
.gui-ubb-video {
	background-position:-104px -610px
}
.gui-ubb-at {
	background-position:-130px -610px
}
.gui-ubb-ref {
	background-position:-156px -610px
}
.gui-ubb-ul {
	background-position:-182px -610px
}
.gui-ubb-ol {
	background-position:-208px -610px
}
.gui-ubb-bold:hover {
	background-position:0 -610px
}
.gui-ubb-italic:hover {
	background-position:-26px -580px
}
.gui-ubb-link:hover {
	background-position:-52px -580px
}
.gui-ubb-image:hover {
	background-position:-78px -580px
}
.gui-ubb-video:hover {
	background-position:-104px -580px
}
.gui-ubb-at:hover {
	background-position:-130px -580px
}
.gui-ubb-ref:hover {
	background-position:-156px -580px
}
.gui-ubb-ul:hover {
	background-position:-182px -610px
}
.gui-ubb-ol:hover {
	background-position:-208px -610px
}
.gui-ubbv-line {
	margin:5px 0;
	width:230px;
	height:1px;
	line-height:1px;
	font-size:0;
	border-bottom:1px solid #ccc
}
.gui-ubbv-ref {
	margin:10px 0;
	line-height:1.5;
	color:#999
}
.gui-ubbv-ref-bd {
	position:relative
}
.gui-ubbv-ref-bd-pic {
	float:right;
	margin:24px 0 0 15px
}
.gui-ubbv-ref-bd h3 {
	margin-top:2px;
	width:390px
}
.post .gui-ubbv-ref-bd h3 {
	width:400px
}
.gui-ubbv-ref-bd h3 a {
	font-size:14px
}
.gui-ubbv-ref-bd-info {
	position:absolute;
	right:0;
	top:2px
}
.gui-ubbv-ref-bd-desc {
	margin-top:4px;
	color:#333
}
.gui-ubbv-ol {
	margin:0!important;
	padding:0!important;
	overflow:visible!important;
	border:none!important
}
.gui-ubbv-ol li {
	margin:0 0 0 20px!important;
*margin:0 0 0 25px!important;
	padding:0!important;
	overflow:visible!important;
	list-style:decimal outside!important;
	border:none!important
}
.gui-ubbv-ul {
	margin:0!important;
	padding:0!important;
	overflow:visible!important;
	border:none!important
}
.gui-ubbv-ul li {
	margin:0 0 0 20px!important;
	padding:0!important;
	overflow:visible!important;
	list-style:square outside!important;
	border:none!important
}
.tooltip {
	padding:9px;
	background-color:#fffed8;
	border:1px solid #b2b196;
	box-shadow:3px 3px 0 rgba(0, 0, 0, 0.15);
	border-radius:1px
}
b.tooltip-up {
	border-bottom-color:#b2b196!important
}
b.tooltip-down {
	border-top-color:#b2b196!important
}
b.tooltip-left {
	border-right-color:#b2b196!important
}
b.tooltip-right {
	border-left-color:#b2b196!important
}
s.tooltip-up {
	border-bottom-color:#fffed8!important
}
s.tooltip-down {
	border-top-color:#fffed8!important
}
s.tooltip-left {
	border-right-color:#fffed8!important
}
s.tooltip-right {
	border-left-color:#fffed8!important
}
.gui-screen-top {
	position:fixed;
	_position:absolute;
	bottom:100px;
	left:50%;
	margin-left:160px;
	width:40px;
	height:40px;
	overflow:hidden;
	outline:0;
	text-indent:-9999px;
	background-color:#fdfdfd;
	border:1px solid #d5d5d5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 0 5px #f5f5f5;
	-moz-box-shadow:0 0 5px #f5f5f5;
	-o-box-shadow:0 0 5px #f5f5f5;
	box-shadow:0 0 5px #f5f5f5
}
.gui-screen-top s {
	position:absolute;
	top:-2px;
	left:10px;
	width:0;
	height:0;
	font-size:0;
	border-width:10px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #d5d5d5 transparent
}
.gui-screen-top b {
	position:absolute;
	top:18px;
	left:16px;
	width:8px;
	height:12px;
	background-color:#d5d5d5
}
.site-article-page .gheader-wp {
	border:0
}
.site-article-page .gheader-wp .gheader-wp-b {
	border:0
}
.site-article-page .gheader-wp .gheader {
	width:980px
}
.site-article-page .grow {
	width:1000px
}
.article-page {
	font-size:12px;
	color:#999;
	font-family:"Microsoft YaHei", "WenQuanYi Micro Hei", tohoma, sans-serif;
	position:relative
}
.article-page .main {
	width:650px;
	margin-bottom:20px;
	float:left
}
.article-page .main .gbreadcrumb {
	margin-left:10px;
	padding:0 0 15px;
	background:0;
	border-bottom:1px solid #e9e9e9
}
.article-page .main .gbreadcrumb ul {
	margin:0
}
.article-page .content {
	margin-left:10px
}
.article-page .content .content-th {
	text-align:left
}
.article-page .content .content-th h1 {
	margin-top:32px;
	color:#333;
	font-size:24px;
	font-weight:normal
}
.article-page .content .content-th .content-th-intro {
	margin-top:10px;
	font-size:16px;
	line-height:26px
}
.article-page .content .content-th .content-th-info {
	margin-top:15px;
	padding-bottom:25px;
	border-bottom:1px dashed #d9d9d9
}
.article-page .content .content-th .content-th-info .content-th-info-sep {
	color:#e9e9e9
}
.article-page .content .content-th .content-th-info span {
	margin-left:10px;
	padding-left:10px;
	border-left:1px solid #ededed
}
.article-page .content blockquote {
	color:#999;
	font-size:14px;
	line-height:24px;
	border-left:1px solid #d5d5d5;
	margin:0 0 10px 5px;
	padding:0 0 0 9px
}
.article-page .content .content-txt {
	margin-top:20px;
	margin-bottom:30px
}
.article-page .content .content-txt .content-txt-pic {
	float:left;
	margin:7px 20px 0 0;
	width:260px
}
.article-page .content .content-txt .content-txt-pic p {
	margin-top:5px;
	line-height:22px
}
.article-page .content .post-tags, .article-page .content .copyright {
	color:#979797;
	font-size:14px;
	line-height:2;
	margin-bottom:35px
}
.article-page .content .post-tags {
	color:#333;
	margin-bottom:0;
	margin-top:15px
}
.article-page .content .content-titles {
	color:#999;
	margin:20px 0 5px 0;
	padding:10px;
	border-top:1px dashed #d9d9d9;
	border-bottom:1px dashed #d9d9d9
}
.article-page .content .content-titles li {
	max-width:280px
}
.article-page .content .document-do {
	margin:0 0 20px;
	font-size:14px
}
.article-page .content .document-do .gfl a {
	margin-right:5px;
	text-align:left
}
.article-page .content .document-do .gfr .recommend, .article-page .content .document-do .gfr .comment {
	display:inline-block;
	width:70px;
	height:32px;
	line-height:32px;
	color:#3fab28;
	text-decoration:none;
	text-align:center;
	border:1px solid #e9e9e9;
	background-color:#f9f9f9
}
.article-page .content .document-do .gfr .comment {
	color:#FFF;
	margin-left:10px;
	border:0;
	background-color:#84ca29
}
.article-page .content .document-do .gfr .recommend:hover {
	background-color:#e9e9e9
}
.article-page .content .document-do .gfr .comment:hover {
	background-color:#50a200
}
.article-page .cmts {
	margin-left:10px
}
.article-page .cmts .cmts-hide {
	display:none
}
.article-page .cmts .cmts-title {
	border-bottom:1px solid #e9e9e9;
	overflow:hidden;
	padding-bottom:8px
}
.article-page .cmts .show-all-reply {
	cursor:pointer;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:16px;
	color:#666;
	background-color:#fafafa
}
.article-page .cmts .cmts-list {
	margin-bottom:30px
}
.article-page .cmts .cmts-list li {
	border-bottom:1px solid #eee;
	overflow:hidden;
	padding:20px 10px 15px
}
.article-page .cmts .cmts-list li .cmt-img {
	float:left;
	text-align:center
}
.article-page .cmts .cmts-list li .cmt-img img {
	display:block;
	margin-bottom:4px
}
.article-page .cmts .cmts-list li .cmt-img .cmt-floor {
	color:#999
}
.article-page .cmts .cmts-list li .cmt-info {
	color:#999;
	float:right;
	margin-left:10px
}
.article-page .cmts .cmts-list li .cmt-auth .cmt-auth-vip {
	vertical-align:middle;
	margin-bottom:3px
}
.article-page .cmts .cmts-list li .cmt-content {
	color:#333;
	line-height:2;
	margin:8px 0;
	overflow:hidden;
	word-wrap:break-word;
	font-family:Arial, Helvetica, sans-serif
}
.article-page .cmts .cmts-list li .cmt-content blockquote {
	color:#999;
	margin:10px 0;
	padding-left:10px;
	border-left:1px solid #d5d5d5
}
.article-page .cmts .cmts-list li .cmt-content ul, .article-page .cmts .cmts-list li .cmt-content ol {
	padding:0 0 0 40px
}
.article-page .cmts .cmts-list li .cmt-content li {
	padding:5px;
	overflow:visible;
	border:0
}
.article-page .cmts .cmts-list li .cmt-content ul li {
	list-style:disc
}
.article-page .cmts .cmts-list li .cmt-content ol li {
	list-style:decimal
}
.article-page .cmts .cmts-list li .cmt-do {
	color:#d9d9d9;
	float:right
}
.article-page .cmts .cmts-list li.last {
	border:0
}
.article-page .cmts .cmts-do {
	color:#888;
	margin-top:30px;
	position:relative
}
.article-page .cmts .cmts-do .reply-login {
	font-size:14px;
	position:absolute;
	top:85px;
	left:10px;
	z-index:999
}
.article-page .cmts .cmts-do .cmt-do-num {
	color:#d9d9d9
}
.article-page .cmts .cmts-do .cmts-do-connect {
	margin-top:5px
}
.article-page .cmts .cmts-do .cmts-do-connect li {
	display:inline-block;
	margin-right:10px;
	_float:left
}
.article-page .cmts .cmts-do .cmts-do-connect .gicon-lsina, .article-page .cmts .cmts-do .cmts-do-connect .gicon-lrr, .article-page .cmts .cmts-do .cmts-do-connect .gicon-lqq {
	vertical-align:middle;
	margin-right:5px;
	_float:left
}
.article-page .cmts .cmts-do h3 {
	color:#4ba733;
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px
}
.article-page .cmts .cmts-submit-box {
	margin-top:10px
}
.article-page .cmts .cmts-submit-box .cmts-share {
	float:right;
	line-height:30px;
	margin-right:20px
}
.article-page .cmts .cmts-submit-box .cmts-share input {
	margin-right:5px;
	vertical-align:middle
}
.article-page .cmts .cmts-submit-box .submit {
	color:#FFF;
	float:right;
	width:70px;
	height:30px;
	background-color:#85c926;
	border:0;
	font-size:14px;
	font-family:"Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, tohoma, sans-serif
}
.article-page .cmts .cmts-submit-box .submit:hover {
	background-color:#50a200
}
.article-page .cmts .cmts-submit-box .submit:active {
	box-shadow:2px 2px 2px #448a00 inset
}
.article-page .cmts .cmts-submit-box .draft-btn {
	float:left;
	display:block;
	visibility:hidden;
	width:83px;
	height:28px;
	line-height:28px;
	border:1px solid #FFF;
	color:#999
}
.article-page .cmts .cmts-submit-box .draft-btn .gicon-draft-save, .article-page .cmts .cmts-submit-box .draft-btn .gicon-draft-del {
	display:inline-block;
	width:13px;
	height:14px;
	background:url(/skin/imgs/4-icon.png?v=1) -465px 0;
	vertical-align:middle;
	margin:0 5px 0 8px
}
.article-page .cmts .cmts-submit-box .draft-btn .gicon-draft-del {
	background-position:-480px 0
}
.article-page .cmts .cmts-submit-box .draft-btn:hover {
	border:1px solid #e9e9e9;
	text-decoration:none
}
.article-page .cmts .gpages {
	padding:0;
	margin-bottom:35px
}
.article-page .cmts .gpages li {
	border:0;
	padding:0
}
.article-page .cmts .new-guide {
	background-color:rgba(86, 86, 86, 0.95);
	background-color:#595959\9;
*background-color:#595959;
	border-radius:5px 5px 5px 5px;
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.25);
	color:#FFF;
	padding:15px 20px 20px;
	position:relative;
	zoom:1
}
.article-page .cmts .new-guide h5 {
	font-size:18px;
	margin-bottom:8px
}
.article-page .cmts .new-guide .new-guide-txt {
	line-height:24px;
	margin-bottom:22px
}
.article-page .cmts .new-guide-btn {
	float:right;
	display:block;
	width:72px;
	height:23px;
	background:#fafafa;
	border:1px solid #e9e9e9;
	line-height:23px;
	text-align:center;
	font-size:14px;
	color:#4ea733;
	text-decoration:none
}
.article-page .cmts .new-guide-btn:hover {
	background:#e9e9e9
}
.article-page .cmts .new-guide-close {
	display:block;
	position:absolute;
	top:10px;
	right:10px;
	height:9px;
	width:9px;
	background:url(/skin/imgs/4-icon.png) -454px 0;
	font-size:0
}
.article-page .cmts .new-guide-arrow {
	position:absolute;
	left:50px;
	top:-16px;
	border:8px dashed transparent;
	border-bottom-style:solid;
	border-color:#fff #fff rgba(86, 86, 86, 0.95) #fff;
	width:0;
	height:0;
	font-size:0;
	line-height:0
}
.article-page .side {
	width:350px;
	float:left
}
.article-page .side .side-title {
	margin-left:50px;
	padding-bottom:6px;
	border-bottom:1px solid #e9e9e9
}
.article-page .side .side-title h2 {
	color:#4ba733;
	font-size:18px;
	font-weight:normal
}
.article-page .side .side-title a.casual {
	color:#FFF;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	line-height:30px;
	background-color:#84ca29;
	display:inline_block;
	height:30px;
	width:70px;
	margin-right:10px;
	margin-top:-5px;
	float:right
}
.article-page .side .side-title a.casual:hover {
	background-color:#50a200
}
.article-page .side .recommend-article-pic {
	margin-left:50px
}
.article-page .side .recommend-article-pic li {
	width:132px;
	float:left;
	margin-top:15px
}
.article-page .side .recommend-article-pic li a.recommend-article-title {
	display:block;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:24px;
	height:48px;
	overflow:hidden
}
.article-page .side .recommend-article-pic li.right {
	margin-left:26px
}
.article-page .side .recommend-article-titles {
	margin-left:50px;
	margin-top:10px
}
.article-page .side .recommend-article-titles li {
	width:290px;
	margin:0
}
.article-page .side .recommend-article-titles li a {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:24px;
	height:24px;
	overflow:hidden
}
.article-page .side .related-article {
	margin-left:50px;
	margin-bottom:10px;
	overflow:hidden
}
.article-page .side .related-article li {
	font-size:12px;
	line-height:2em;
	border-bottom:1px dashed #d9d9d9;
	margin:12px 0 -1px 0;
	padding-bottom:12px;
	font-family:Arial, Helvetica, sans-serif
}
.article-page .side .related-article li a {
	display:block;
	font-family:Arial, Helvetica, sans-serif
}
.article-page .side .related-article li .related-article-author {
	color:#666
}
.article-page .side .side-advert {
	margin-left:50px;
	margin-bottom:20px
}
.article-page .recommend-articles {
	margin-bottom:30px
}
.article-page .recommend-articles h2 {
	font-family:"Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, tohoma, sans-serif;
	font-size:18px;
	color:#4ba733;
	line-height:2;
	padding-bottom:5px;
	margin-bottom:20px;
	border-bottom:1px solid #e8e8e8
}
.article-page .recommend-articles ul {
	margin-left:10px
}
.article-page .recommend-articles ul li {
	width:132px;
	float:left;
	margin-left:30px
}
.article-page .recommend-articles ul li a.recommend-article-title {
	font-size:12px;
	line-height:18px;
	word-wrap:break-word;
	font-family:Arial, Helvetica, sans-serif;
	height:36px;
	display:block;
	overflow:hidden
}
.article-page .recommend-articles ul li.first {
	margin:0
}
.recommend-article-next {
	position:fixed;
	_position:absolute;
	display:none;
	border:3px solid #f4f4f4;
	background-color:#FFF;
	left:50%;
	margin-left:197px;
	bottom:400px;
	font-size:12px;
	z-index:1
}
.recommend-article-next .box-shadow {
	border:1px solid #e3e3e3;
	height:85px;
	width:300px;
	margin:0
}
.recommend-article-next .next-left {
	float:left;
	width:90px;
	margin:8px 0 0 12px;
	_margin-left:5px
}
.recommend-article-next .next-left a {
	display:block;
	height:69px;
	width:90px
}
.recommend-article-next .next-right {
	width:170px;
	margin:10px 10px 0 5px;
	float:right;
	overflow:hidden
}
.recommend-article-next .next-right .article-next {
	color:#4ea733;
	float:left
}
.recommend-article-next .next-right .next-delete {
	cursor:pointer;
	height:14px;
	width:14px;
	background:url('/skin/imgs/article-delete-next.png') no-repeat center center;
	float:right
}
.recommend-article-next .next-right a {
	height:36px;
	overflow:hidden;
	display:block;
	margin-top:8px;
	margin-right:8px
}
.recommend-footer {
	padding-left:10px
}
.recommend-footer h2 {
	color:#4ba733;
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px
}
.recommend-footer .recommend-articles-list {
	width:978px;
	padding:15px 4px 15px 5px;
	margin-bottom:30px;
	border:1px solid #e9e9e9
}
.recommend-footer .recommend-articles-list li {
	width:132px;
	float:left;
	margin:0 16px 0 15px
}
.recommend-footer .recommend-articles-list .recommend-article-title {
	word-wrap:break-word;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	font-size:12px;
	line-height:18px;
	height:36px;
	overflow:hidden
}
.document {
	color:#333;
	font-size:16px;
	line-height:2
}
.document img {
	max-width:645px
}
.document .img-caption {
	color:gray;
	font-size:12px;
	line-height:2;
	margin-bottom:12px
}
.document .img-caption img {
	display:block
}
.document h1, .document h2, .document h3, .document h4, .document h5, .document h6 {
	font-family:"Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, tohoma, sans-serif;
	font-weight:normal;
	line-height:2
}
.document h1, .document h2 {
	color:#4ba733;
	font-size:18px;
	line-height:46px
}
.document h2.references {
	color:black;
	font-size:16px;
	font-weight:bold
}
.document h3 {
	color:#333;
	font-size:16px;
	line-height:36px;
	font-weight:bold
}
.document h4 {
	color:#4ba733;
	font-size:16px;
	font-weight:bold
}
.document h5 {
	font-size:14px;
	font-weight:bold
}
.document p {
	margin-bottom:25px;
	line-height:32px
}
.document p.editors-note {
	background-color:#f6f6f6;
	font-size:16px;
	line-height:2em;
	padding:18px 14px
}
.document blockquote {
	color:#999;
	font-size:12px;
	border-left:1px solid #d9d9d9;
	padding:5px 20px;
	margin:7px 0
}
.document .document-figure {
	color:#999;
	font-size:12px;
	margin:10px auto
}
.document .document-figure .document-figcaption {
	text-align:left;
	margin-bottom:10px
}
.document table.docutils {
	color:#333;
	font-size:14px;
	line-height:2
}
.document table.docutils .fn-backref {
	margin-right:15px
}
.document table.docutils .field-name {
	font-weight:normal;
	text-align:left
}
.document table.docutils.field-list {
	margin-top:10px
}
.document ul, .document ol {
	padding:0 0 0 20px
}
.document ul li {
	list-style:disc
}
.document ol li {
	list-style:decimal
}
.document ol.reference-item {
	font-size:12px;
	color:#999;
	line-height:2
}
.site-index-page .article-list .article-item {
	padding-bottom:14px;
	border:0
}
.site-page, .all-sites-page {
	overflow:hidden
}
.site-page .side, .all-sites-page .side {
	float:left;
	font-size:12px;
	background-color:#f7f7f7;
	padding:40px 0 0 30px;
	margin-bottom:-3000px;
	padding-bottom:3000px;
	min-height:300px
}
.site-page .side .all_sites, .all-sites-page .side .all_sites {
	display:inline-block;
	color:#fff;
	background-color:#88c932;
	text-align:center;
	width:140px;
	height:28px;
	line-height:28px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px
}
.site-page .side ul, .all-sites-page .side ul {
	margin:20px 0 0 5px
}
.site-page .side ul li, .all-sites-page .side ul li {
	margin:10px 0;
	color:#333;
	font-weight:bold;
	height:20px;
	line-height:20px
}
.site-page .side ul li img, .all-sites-page .side ul li img {
	margin-right:5px;
	vertical-align:middle
}
.site-page .side ul li a, .all-sites-page .side ul li a {
	font-weight:normal
}
.site-page .main .gbtitle, .all-sites-page .main .gbtitle {
	color:#999;
	font-size:12px;
	margin-bottom:5px;
	padding-bottom:15px;
	position:relative
}
.site-page .main .gbtitle h1, .all-sites-page .main .gbtitle h1 {
	color:#333;
	font-size:18px;
	font-weight:normal;
	display:inline-block;
	margin-right:10px;
	float:none
}
.site-page .main .gbtitle img, .all-sites-page .main .gbtitle img {
	float:left;
	margin:0 10px 0 0
}
.site-page .main .gbtitle .gbtitle-rss, .all-sites-page .main .gbtitle .gbtitle-rss {
	position:absolute;
	bottom:15px;
	right:90px;
	color:#666
}
.site-page .main .article, .all-sites-page .main .article {
	height:130px;
	margin:20px 0 0 20px;
	padding:0 10px 20px;
	border-bottom:1px solid #e9e9e9;
	position:relative;
	color:#999;
	font-size:12px;
	overflow:hidden
}
.site-page .main .article .article-pic, .all-sites-page .main .article .article-pic {
	float:left;
	margin-right:20px
}
.site-page .main .article h2, .all-sites-page .main .article h2 {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	word-wrap:break-word;
	margin:0 110px 10px 0;
	margin-left:186px
}
.site-page .main .article .article-info, .all-sites-page .main .article .article-info {
	position:absolute;
	right:10px;
	top:0
}
.site-page .main .article .article-info .article-info-sp, .all-sites-page .main .article .article-info .article-info-sp {
	border-right:1px solid #e9e9e9;
	display:inline-block;
	height:12px;
	margin:0 5px;
	overflow:hidden;
	width:0;
	vertical-align:middle
}
.site-page .main .article .article-meta, .all-sites-page .main .article .article-meta {
	margin-left:186px;
	margin-bottom:10px
}
.site-page .main .article .article-from, .all-sites-page .main .article .article-from {
	margin-left:0;
	position:absolute;
	left:195px;
	bottom:20px
}
.site-page .main .article p, .all-sites-page .main .article p {
	margin-left:186px
}
.site-page .main .gpages, .all-sites-page .main .gpages {
	clear:left
}
.all-sites-page .side .all_sites {
	background-color:#f2f2f2;
	color:#333;
	font-weight:bold;
	border:1px solid #e0e0e0
}
.wrap {
	width:1000px;
	margin:0 auto;
	overflow:hidden;
*zoom:1
}
.wrap .main {
	width:680px;
	float:left
}
.wrap .side {
	width:300px;
	float:right
}
.site-main-title {
	background:#fafafa;
	border:1px solid #e9e9e9;
	padding:9px 0 9px 15px;
	overflow:hidden;
*zoom:1;
	position:relative
}
.site-main-title img {
	margin-right:5px;
	margin-bottom:-5px
}
.site-main-title h2 {
	font-size:18px;
	color:#57ad40;
	line-height:30px;
	display:inline-block;
*display:inline;
*zoom:1
}
.site-main-title .site-icon {
	widht:68px;
	height:55px;
	overflow:hidden;
	float:left;
	margin:6px 0
}
.site-main-title .site-icon img {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px
}
.site-main-title .site-desc {
	margin:6px 0 0 78px
}
.site-main-title .site-summary {
	font-size:12px;
	line-height:30px
}
.site-main-title .site-all {
	position:absolute;
	top:15px;
	right:15px
}
.main .article-wrap {
padding:right:10px;
	margin-bottom:24px
}
.article-list .article-item {
	padding-bottom:25px;
	border-bottom:1px solid #e9e9e9
}
.article-list h3 {
	font-size:22px;
	line-height:26px;
	margin:23px 0 18px 0
}
.article-list h3 a {
	color:#666
}
.article-list .article-desc {
	overflow:hidden;
*zoom:1
}
.article-list .article-pic {
	width:166px;
	height:119px;
	overflow:hidden;
	float:left
}
.article-list .article-summary {
	margin-left:186px;
	line-height:22px
}
.article-list .article-split {
	margin:0 8px
}
.article-list .article-fun {
	margin-top:9px;
	padding-right:10px;
	color:#999
}
.article-list .article-comments-num {
	float:right;
*margin-top:-15px
}
.article-list .article-comments-num a {
	color:#666
}
.article-list .article-fun-comments {
	display:inline-block;
*display:inline;
*zoom:1;
	width:14px;
	height:12px;
	background:url('imgs/4-icon-8.png') no-repeat -21px 0;
	margin-right:5px;
	vertical-align:middle
}
.main-title-list {
	clear:both;
	padding:0 15px;
	overflow:hidden;
*zoom:1
}
.main-title-list li {
	line-height:26px;
	width:327px;
	float:left;
	list-style-type:square;
	word-wrap:break-word;
	color:#999
}
.main-title-list a {
	color:#666
}
.main-title-list li.even {
	width:310px
}
.more-articles {
	display:block;
	background:#fafafa;
	color:#666;
	text-align:center;
	font-size:16px;
	font-weight:200;
	height:40px;
	line-height:40px;
	font-family:"Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, tohoma, sans-serif
}
.more-articles:hover {
	color:#57ad40
}
.site-index-page .gheader-wp, .site-all-page .gheader-wp, .site-single-page .gheader-wp {
	border:0
}
.site-index-page .gheader-wp .gheader-wp-b, .site-all-page .gheader-wp .gheader-wp-b, .site-single-page .gheader-wp .gheader-wp-b {
	border:0
}
.site-index-page .gheader-wp .gheader, .site-all-page .gheader-wp .gheader, .site-single-page .gheader-wp .gheader {
	width:980px
}
.site-side-title {
	padding-left:10px;
	height:50px;
	line-height:50px;
	overflow:hidden;
*zoom:1
}
.site-side-title h2 {
	display:inline;
	font-size:16px;
	color:#57ad40;
*zoom:1;
*margin-top:10px;
*float:left
}
.site-side-title .gbtn-primary {
	margin-top:8px
}
.side-title-anywhere {
	color:#fff;
	height:30px;
	line-height:30px;
	width:70px;
	text-align:center;
	font-size:12px;
	margin-top:10px;
	background-color:#88c833;
	float:right;
	font-family:"Microsoft YaHei", "WenQuanYi Micro Hei", tohoma, sans-serif
}
.side-title-anywhere:hover {
	background:#50a200;
	text-decoration:none
}
.side-article-list {
	font-size:12px;
	margin-top:10px
}
.side-article-list .side-article-item {
	overflow:hidden;
*zoom:1;
	margin-bottom:25px
}
.side-article-list .side-article-pic {
	width:83px;
	height:59px;
	overflow:hidden;
	float:left
}
.side-article-list h3 {
	margin:0 0 8px 93px;
	line-height:1em;
	font-family:Arial, Helvetica, sans-serif
}
.side-article-list .side-article-title {
	margin-left:93px;
	line-height:22px
}
.side-article-list .side-article-title a {
	color:#666
}
.side-articles-top {
	padding-bottom:5px;
	border-bottom:1px solid #e9e9e9
}
.article-rss {
	font-size:12px;
	color:#666;
*margin-top:15px
}
.article-rss .gicon-rss {
	margin-top:-5px
}
.all-sites {
	font-size:12px;
	border:1px solid #e9e9e9;
	padding:2px;
	margin-bottom:13px;
	word-wrap:break-word;
	overflow:hidden;
*zoom:1
}
.all-sites li {
	float:left;
	line-height:28px;
	margin:0 8px;
	white-space:nowrap
}
.all-sites li img {
	width:14px;
	height:14px;
	margin:0 3px -3px 0
}
.side-advert {
	margin-top:15px
}
.side-file {
	float:right;
	color:#999;
	font-size:12px
}
.side-year {
	margin:0 0 5px 12px
}
